{{>head}}

{{>navbar}}


<div class="class-row">
    <div class="col-8">
        <h1>gabito</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/patricio.jpg" class="img-thumbnail">
    </div>

</div>


{{>footer}}